In [1]:
import numpy as np  
import pandas as pd 

#LOAD DATA CSV FILE
df_order=pd.read_csv('datasets/premium_client.csv', header=0)
df_order

      id      client premium_client    order postpone
0      1       Rocks          False  1952.82    10:20
1      2    Ugoletti           True  4632.58    11:46
2      3    Farherty          False  3116.81     7:00
3      4     Yesinin          False  5213.96     8:09
4      5     Flucker          False   556.10     5:10
..   ...         ...            ...      ...      ...
495  496       Pepis           True  5083.43     4:47
496  497  Risborough           True   699.15     3:29
497  498     McAlroy           True  4682.65    20:51
498  499    Kleinert           True  5149.81    10:21
499  500     Fandrey          False  5893.80    11:20

[500 rows x 5 columns]

In [2]:
#PREPARING DATA/cleaning data 

missing_data_counts=pd.DataFrame(df_order.isnull().sum(),columns=['MissingValues'])
missing_data_counts

                MissingValues
id                          0
client                      0
premium_client             12
order                      12
postpone                   12

In [11]:
#drop missing data
df_order=df_order.dropna()

In [6]:
#organizing data ANALIZA PREMIUM KLIENCI - MEDIANA SUMY ZAMÓWIENIA

premium_order_data=df_order.order.groupby(df_order.premium_client)
premium_order_data.mean()

premium_client
False    3432.387383
True     3298.973793
Name: order, dtype: float64

In [8]:
#organizing data ANALIZA PREMIUM KLIENCI - ŚREDNIA SUMY ZAMÓWIENIA

avg_order=pd.pivot_table(df_order,values=['order'],index=['premium_client'])
avg_order

                      order
premium_client
False           3432.387383
True            3298.973793