In [1]:
import numpy as np  
import pandas as pd 

#LOAD DATA CSV FILE
deliver=pd.read_csv('datasets/deliver_data.csv', header=0)
deliver

      id dostawca  hours             loc   price
0      1      GPS    NaN             NaN     NaN
1      2   INpost    9.0          Poland  142.07
2      3      DPD   15.0  Czech Republic  269.49
3      4   INpost   18.0          Poland  370.56
4      5      DPD    9.0          Poland  476.16
..   ...      ...    ...             ...     ...
195  196   INpost    5.0          Poland  134.52
196  197      GPS   24.0  Czech Republic  231.79
197  198      DPD    8.0          Poland  113.53
198  199      GPS   13.0          Poland   65.49
199  200   INpost    9.0          Poland  299.80

[200 rows x 5 columns]