In [9]:
#LOAD PLIK XLSX klasyczny excela
import pandas as pd
import numpy as np

df_clients=pd.read_excel('datasets/client_zooexcel.xlsx')   
df_clients

,id,first_name,last_name,location,cat,dog,other,order,company_order,frequency
0,1,Hermia,Annion,Poland,NaN,NaN,NaN,NaN,NaN,year
1,2,Addie,Addeycott,Germany,0.0,1.0,1.0,"€729,04",West-Ward Pharmaceutical Corp,week
2,3,Bruno,Hindes,Poland,0.0,1.0,1.0,"€664,59",Geritrex Corp.,year
3,4,Morie,Johnes,Poland,0.0,1.0,1.0,"€971,00","Dispensing Solutions, Inc.",month
4,5,Layla,Harrinson,NaN,0.0,1.0,0.0,"€929,24",Wockhardt Limited,quarter
...,...,...,...,...,...,...,...,...,...,...
495,496,Adrien,Marris,Poland,1.0,1.0,1.0,"€602,26",Pfizer Laboratories Div Pfizer Inc,month
496,497,Amelina,Petracco,NaN,0.0,0.0,1.0,"€865,47",L Perrigo Company,year
497,498,Karlie,Simla,NaN,1.0,1.0,0.0,"€18,12",Apotheca Company,quarter
498,499,Em,Heighton,Poland,1.0,1.0,0.0,"€165,75","Aaron Industries, Inc.",month
499,500,Clo,Piatti,NaN,1.0,1.0,1.0,"€374,64",THE KROGER COMPANY,week

In [10]:
df_premium=pd.read_excel('datasets/client_zoo_premium.xlsx')   
df_premium

      id last_name  premium_client gender
0      1    Chaman             0.0      M
1      2    Hovard             1.0      M
2      3    Burdge             0.0      F
3      4    Buckel             0.0      F
4      5     Wrout             1.0      F
..   ...       ...             ...    ...
495  496       Wiz             1.0      M
496  497      Leve             1.0      M
497  498  MacPeake             1.0      F
498  499     Leith             1.0      F
499  500      Dyer             0.0      F

[500 rows x 4 columns]

In [ ]:
#common last_name -check

In [ ]:

#POŁĄCZENIE DWÓCH PLIKÓW Z BAZY KLIENTÓW orders

In [ ]:
#PREPARING DATA
#cleaning data 
#polaczenie dwóch tabel klucz - nazwiska klientów